@media only screen and (max-width: 1000px) {
    .hero {
        display: flex;
    }

    .content h1 {
        font-size: 32px;
    }
    .content p {
        font-size: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .content {
        display: flex;
        flex-wrap: wrap;
    }

    .hero {
        background-color: #fff;
        padding: 0 0;
        position: fixed;
        justify-content: flex-start;
        height: 125px;
    }

    .main {
        padding-top: 175px;
        margin: 0 0;
    }

    .content {
        visibility: hidden;
    }
    video {
        visibility: hidden;
    }
}