.main {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 20px;
}

.main {
    display: flex;
}

.main-text {
    display: flex;
    justify-content: center;
}

.post {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 2%;
    background-color: white;
}

.post-content {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: block;
    clear: both;
    margin-bottom: 2em;
}

.articles-content {
    margin-left: 1%;
    width: 19%;
    height: auto;
    box-sizing: border-box;
    display: block;
    background-color: white;
    clear: both;
    margin-bottom: 2em;
}

.article-title {
    text-align: center;
    padding-top: 5%;
    
}
.featured-image {
    padding: 0.5em 0.5em;
}

.featured-image img {
    width: 100%;
    height: 100%;
}

.entry-header {
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
}

.entry-title {
    margin-bottom: 14px;
}

.post-text {
    padding-left: 3em;
    padding-right: 3em;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 2em;
}

.entry-header a {
    text-decoration: none;
    background-color: transparent;
    color: black;
}

.entry-header a:hover {
    color: #263159;
}
.entry-title {
    padding-left: 2.5em;
    padding-right: 2.5em;
}

.entry-meta {
    display: flex;
    justify-content: center;
    clear: both;
    color: #727272;
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: 2px;
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
}

.entry-meta img {
    width: 15px;
}
.entry-meta h5 {
    margin-left: 10px;
}

/* CSS */
.button-40 {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.button-40:hover {
  background-color: #374151;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .button-40 {
    padding: .75rem 1.5rem;
  }
}